# macOS
.DS_Store

# Xcode
DerivedData/
.deriveddata/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

# SwiftPM
.build/
.swift-module-cache/

# Local temporary files
tmp/
